<template>
  <q-page class="flex flex-center">
    <calendar/>
  </q-page>
</template>

<script>
import Calendar from '../components/Calendar'
export default {
  name: 'PageIndex',
  components: {
    Calendar
  }
}
</script>
